<div class="comment-list" ng-repeat="comments in ctrl.comment | orderBy:'-id' | limitTo: 10">
    <div class="media">
        <a class="pull-left" href="#0">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
            {{ comments.name }}
             <small>August 25, 2014 at 9:30 PM</small>
                        </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
            Donec lacinia congue felis in faucibus.
        </div>
    </div>
</div>